<div
	class="write-context-menu"
	data-write-context-menu
	data-has-entry="false"
	data-bulk="false"
	data-bulk-count="0"
	aria-hidden="true">
	{{ template "write_context_bulk_actions.html" . }}
	<button
		type="button"
		data-entry-required
		data-single-entry-required
		data-context-copy="relative">Copy relative path</button>
	<button
		type="button"
		data-entry-required
		data-single-entry-required
		data-context-copy="absolute">Copy absolute path</button>
	{{ if .WriteEnabled }}
	{{ template "write_context_create_actions.html" . }}
	{{ template "write_context_entry_actions.html" . }}
	{{ end }}
</div>
