<hr data-entry-required data-single-entry-required>
<button
	type="button"
	data-entry-required
	data-single-entry-required
	data-context-write="rename">
	Rename
</button>
<button
	type="button"
	data-entry-required
	data-single-entry-required
	data-context-write="copy">
	Copy
</button>
<button
	type="button"
	data-entry-required
	data-single-entry-required
	data-context-write="duplicate">
	Duplicate
</button>
<button
	type="button"
	data-entry-required
	data-single-entry-required
	data-context-write="move">
	Move
</button>
<button
	type="button"
	data-entry-required
	data-single-entry-required
	data-context-download>
	Download
</button>
<button
	class="write-button-danger"
	type="button"
	data-entry-required
	data-single-entry-required
	data-context-write="delete">Trash</button>
